.Light {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-bottom: -150px;
}
.Dark {
    display: flex;
    flex-wrap: wrap;
    background-color: #3c0352;
    margin-top: 150px;
    margin-bottom: -150px;
    color: white;
}
.ChosenGenre, .DarkChosenGenre  {
    margin-top: 150px;
    margin-bottom: -150px;
    padding-bottom: 30px;
}
.DarkChosenGenre {
    background-color: #3c0352;
    color: white;
}