.Movie, .DarkMovie {
    height: 450px;
    width: calc(20% - 5px);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 45px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.Movie img, .DarkMovie img {
    width: 220px;
    height: 325px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px darkslategray;
    transition: 0.5s;
}
.DarkMovie img {
    box-shadow: 5px 5px 5px 5px darkgoldenrod;
}

.Movie img:hover, .DarkMovie img:hover {
    scale: 1.1;
}

.Movie div, .DarkMovie div {
    margin-bottom: 10px;
    border-radius: 15px;
}
.DarkMovie {
    background-color: #3c0352;
    color: white;
}

